*.csharp linguist-detectable=true  
*.html linguist-language=CSharp
*.css linguist-language=CSharp
*.js linguist-detectable=false  
*.html linguist-detectable=false  
*.css linguist-detectable=false  