
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-header">
                What is the Passku ?
            </div>
            <div class="card-body">
                Passku is an open source password creator and password management platform. <br />
                Developed by Passku Berke Kurnaz in October 2019.. <br />
                Our purpose is to develop easy password generation and password management applications for everyone. <br />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-header">
                We Products
            </div>
            <div class="card-body">
                - Passku Web App<br />
                - Passku Windows Desktop App<br />
                - Passku Android App<br />
                - Passku Api App<br />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-header">
                Contact
            </div>
            <div class="card-body">
                <strong>Mail Adress : </strong>contact@berkekurnaz.com
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-header">
                Timeline
            </div>
            <div class="card-body">
               <strong>10/9/2019 : </strong>Writed First Code For Passku Platform.
            </div>
        </div>
    </div>
</div>