
@{
    ViewData["Title"] = "Source";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-header">
                Source Code
            </div>
            <div class="card-body">
                Passku is an open source platform. <br />
                Kodlarımızı incelemek için aşağıdaki adresi ziyaret edebilirsin: <br />
                You can review and support these codes that we share with you. <br />
                To review our codes, you can visit: <hr />
                https://github.com/berkekurnaz/Passku
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-header">
                Contact
            </div>
            <div class="card-body">
                <strong>Mail Adress : </strong>contact@berkekurnaz.com
            </div>
        </div>
    </div>
</div>

