
@{
    ViewData["Title"] = "Use";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-header">
               How To Use ?
            </div>
            <div class="card-body">
                1-) Sign up for the system. <br />
                2-) Create your desired passwords using the 'Create Password' page. <br />
                3-) Safely Save Your Passwords on the 'Passwords' Page. <br />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-header">
                Contact
            </div>
            <div class="card-body">
                <strong>Mail Adress : </strong>contact@berkekurnaz.com
            </div>
        </div>
    </div>
</div>

