@model Passku.Models.Concrete.Contact
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="site-section" id="contact-section">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 mb-5">

                @if (TempData["MsgContactMessage"] != null)
                {
                    <div class="alert alert-dark text-center" role="alert">
                        @TempData["MsgContactMessage"]
                    </div>
                }

                <form asp-controller="Home" asp-action="Contact" method="post" enctype="multipart/form-data" class="p-5 bg-white">

                    <center><h2 class="h4 text-black mb-5">Contact Form</h2></center>

                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="text-black" for="fname">First Name</label>
                            <input type="text" asp-for="FirstName" class="form-control rounded-0" required>
                        </div>
                        <div class="col-md-6">
                            <label class="text-black" for="lname">Last Name</label>
                            <input type="text" asp-for="LastName" class="form-control rounded-0" required>
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black" for="email">Email</label>
                            <input type="email" asp-for="Email" class="form-control rounded-0" required>
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black" for="subject">Subject</label>
                            <input type="text" asp-for="Subject" class="form-control rounded-0" required>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="message">Message</label>
                            <textarea asp-for="Message" cols="30" rows="7" class="form-control rounded-0" placeholder="Write your notes or questions here..." required></textarea>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Send Message" class="btn btn-primary mr-2 mb-2">
                        </div>
                    </div>


                </form>
            </div>

        </div>

    </div>
</div>

