@model Passku.WebCoreApp.Models.CreatePass
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 mb-3">
                <div class="card mt-3">
                    <div class="card-header">
                        <strong class="card-title">Create New Report</strong>
                    </div>
                    <div class="card-body">
                        <div id="pay-invoice">
                            <div class="card-body">
                                <form asp-controller="Home" asp-action="Create" method="post" enctype="multipart/form-data">

                                    <div class="form-group">
                                        <label for="passwordLength">Password Length</label>
                                        <select asp-for="passwordLength" class="form-control">
                                            <option hidden>10</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                            <option>13</option>
                                            <option>14</option>
                                            <option>15</option>
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option>29</option>
                                            <option>30</option>
                                            <option>31</option>
                                            <option>32</option>
                                            <option>33</option>
                                            <option>34</option>
                                            <option>35</option>
                                            <option>36</option>
                                            <option>37</option>
                                            <option>38</option>
                                            <option>39</option>
                                            <option>40</option>
                                            <option>41</option>
                                            <option>42</option>
                                            <option>43</option>
                                            <option>44</option>
                                            <option>45</option>
                                            <option>46</option>
                                            <option>47</option>
                                            <option>48</option>
                                            <option>49</option>
                                            <option>50</option>
                                        </select>
                                    </div>

                                    <div class="form-group ml-4">
                                        <input asp-for="isSymbol" type="checkbox" class="form-check-input">
                                        <label class="form-check-label" for="exampleCheck1">Include Symbols</label>
                                    </div>

                                    <div class="form-group ml-4">
                                        <input asp-for="isNumber" type="checkbox" class="form-check-input">
                                        <label class="form-check-label" for="exampleCheck1">Include Numbers</label>
                                    </div>

                                    <div class="form-group ml-4">
                                        <input asp-for="isLowerCase" type="checkbox" class="form-check-input">
                                        <label class="form-check-label" for="exampleCheck1">Include Lower-Case</label>
                                    </div>

                                    <div class="form-group ml-4">
                                        <input asp-for="isUpperCase" type="checkbox" class="form-check-input">
                                        <label class="form-check-label" for="exampleCheck1">Include Upper-Case</label>
                                    </div>

                                    <div class="form-group">
                                        <center><button type="submit" class="btn btn-info"><i class="fa fa-key" aria-hidden="true"></i> Create Password</button></center>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            @if (ViewBag.MsgPassword != null)
            {
                <div class="col-lg-9 mb-3 text-center">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Your Password</strong>
                        </div>
                        <div class="card-body">
                            <p>@ViewBag.MsgPassword</p>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-lg-9 mb-3 text-center">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Your Password</strong>
                        </div>
                        <div class="card-body">
                            <p>Password Area</p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


