
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="site-blocks-cover">
    <div class="container">
        <div class="row align-items-center justify-content-center">

            <div class="col-md-12" style="position: relative;" data-aos="fade-up">

                <center><img src="~/TemplateMain/images/ddd.png" alt="Image" width="50%" class="img-fluid img-absolute"></center>

                <div class="row mb-4">
                    <div class="col-lg-4 mr-auto">
                        <h1>Create and Management Password</h1>
                        <p class="mb-5">Passku is an open source password generation and password management platform.</p>
                        <div>
                            <a href="/Home/Create/" class="btn btn-primary mr-2 mb-2">Create Password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light" id="features-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3">Features</h2>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">

                <div class="unit-4 d-block">
                    <div class="unit-4-icon mb-3">
                        <span class="icon-wrap"><span class="text-primary icon-autorenew"></span></span>
                    </div>
                    <div>
                        <h3>Create Passwords</h3>
                        <p>Easily Generate Strong Passwords You Want. Choose your wishes and your password is ready in seconds.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">

                <div class="unit-4 d-block">
                    <div class="unit-4-icon mb-3">
                        <span class="icon-wrap"><span class="text-primary icon-store_mall_directory"></span></span>
                    </div>
                    <div>
                        <h3>Manage Passwords</h3>
                        <p>
                            Save the Passwords you have created or the passwords you are using to the database.
                        </p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
                <div class="unit-4 d-block">
                    <div class="unit-4-icon mb-3">
                        <span class="icon-wrap"><span class="text-primary icon-shopping_basket"></span></span>
                    </div>
                    <div>
                        <h3>Login Anywhere</h3>
                        <p>Use Our Web, Windows Desktop And Mobile Application Products For Free And Quickly.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="feature-big">
    <div class="container">
        <div class="row mb-5 site-section">
            <div class="col-lg-7">
                <img src="~/TemplateMain/images/do_ui_kit_download_cta_floating_devices-2x.png" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
                <h2 class="text-black">Our Products</h2>
                <p class="mb-4">
                    List of Products We Serve in Many Different Platforms. By the way, they are all completely free.
                </p>
                <ul class="ul-check mb-5 list-unstyled success">
                    <li>Passku Web App</li>
                    <li>Passku Mobile App</li>
                    <li>Passku Windows App</li>
                    <li>Passku Api App</li>
                    <li>Passku Online Creator</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light" id="about-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3">About Us</h2>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-6">
                <img src="~/TemplateMain/images/about_1.jpg" alt="Image" class="img-fluid mb-5 mb-lg-0 rounded shadow">
            </div>
            <div class="col-lg-5 ml-auto pl-lg-5">
                <h2 class="text-black mb-4">Our Story</h2>
                <p class="mb-4">
                    In October 2019, Berke Kurnaz started to develop it as a Hobby Project.
                    We are continuing to develop as Open Source since the first day.
                    Our goal is to Create Free Password For People And Develop Password Management Applications.
                    In addition, we provide service to developers who need password generation api in their projects.
                </p>
                <p><a href="#" class="btn btn-primary">Learn More</a></p>
            </div>
        </div>

    </div>
</div>